.switch .css-1elwnq4-MuiPaper-root-MuiAccordion-root:last-of-type {
    background-color: #282828;
    color: white;
    margin-bottom: 15px;
    align-items: center;
    box-shadow: 16px 16px 20px rgba(0, 0, 0, 0.15), -8px -8px 20px rgba(255, 255, 255, 0.05);
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
    border-bottom: 2px solid white;
}

.css-yw020d-MuiAccordionSummary-expandIconWrapper {
    border: 2px solid white;
    border-radius: 50%;
}

.css-yw020d-MuiAccordionSummary-expandIconWrapper svg path {
    fill: white;
}

.switch .css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
    background-color: white;
}

.switch .css-jsexje-MuiSwitch-thumb {
    background-color: white;
}

.todoDesc {
    width: 320px;
    display: flex;
    justify-content: space-between;
}